*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Luckiest Guy', cursive;
}

.App{

  width: 100%;
 
 
}


.banner{
  width: 100%;
  height: 80vh;
 background: #446944;
  
}
.banner-container{
 
  width: 100%;
  height: 100%;
  display:flex;
  /* grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 30% 20% 50%; */
  justify-content: left;
  background: #446d44;
  background-repeat: no-repeat;
  background-position:  bottom center;
  background-size: cover;
  
}
.banner-text{

  width: 100%;
 color: #446d44;
  text-transform: uppercase;
 
position: relative;
 
}
.banner-text>div{
 width: 85%;
 height: 90%;
 border-radius: 50%;
border: 3px solid #add8e6;
position: absolute;
top: 5%;
left: 0;
background: url("images/bg.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: bottom center;
animation-name: mirror;
animation-duration: 16s;
animation-iteration-count: infinite;

}

.banner-text h1{
  
  font-size: 6rem;
  text-align: center;
  position: absolute;
top: 20%;
left: 50%;
transform: translateX(-50%);
color:#0d485c;
/* border: 2px solid black; */
border-radius: 0 0 20% 8%;
background: #8080804d;
-webkit-text-stroke-width:1px;
-webkit-text-stroke-color:black;
}


.about-me{
  height: 80vh;
  background:#446d44;
  width: 100%;
}

.banner-images{
  height: 100%;
  width: 90%;
  margin-left: 5%;
 display:flex;
justify-content: right;
  align-items: center;

}
.banner-images img{

  height: 80%;
  width: 50%;
  filter: drop-shadow(10px 8px 8px #222222);
}
.banner-images div {
 position: relative;
  width: 50%;
 height: 100%;
 z-index: 3;
}
.banner-images div svg{
  position: absolute;
  top: 25%;
  left: 0;
  height: 100%;
width: 100%;
fill: #66dbd7;
}
.banner-images div span{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-40%);
  height: 100%;
width: 40%;
font-size: 2rem;
color: #0d485c;
}
.myservices{
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("images/footerbg.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.myservices::after{
  content: "";
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #48d1cdc5;
  background-size: cover;
  background-attachment: fixed;
 
}
.myservices>h1{
  padding-top: 10%;
  text-align: center;
  color:#ff63472a;
  font-size: 3.5rem;
  -webkit-text-stroke-width:1px;
  -webkit-text-stroke-color:black;
  position: relative;
  z-index: 3;
}

.myservices-container{
 
  margin-left:10% ;
  width: 80%;
  height: 65%;
  display: flex;
 justify-content: center;
 align-items: center;
  gap: 1em;
  position: relative;
  z-index: 3;
}
.myservices-container> div{

color: #0d485c;
  height: 100%;
 width: 100%;
 display: grid;
 grid-template-rows: 50% 50%;
transition:  0.2s ease-in;
}
.myservices-container> div:hover{
  transform: scale(1.02);
  border:2px solid #0d485c
}

.myservices-container>div h1{
 
  height: 100%;
  text-align: center;
  -webkit-text-stroke-width:1px;
  -webkit-text-stroke-color:black;
font-size: 2.5rem;
}

.myservices-container>div  span{
  height: 100%;
  width: 100%;
 font-size: 1.5rem;
 text-align: center;
}
.design{
  background: #ff6347c5;
}

.frontend{
  background: #fafafa94;
}
.backend{
  background: #446944c7;
}


.nav{
  background: #446d44;
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  
}
.nav ul{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  color: lightblue;
  
}
.nav ul li{
  color: lightblue;
  list-style: none;
  text-decoration: none;
}
.footer{
  width: 100%;
  height: 60vh;
  background: linear-gradient(#5aceca,#44c4bf,#45b8b4);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer-container{
  width: 100%;
  height: 100%;
display: flex;
justify-content: center;
justify-content: space-around;

}
.footer-container div{
  height: 100%;
  display: grid;
  align-items: center;
}
.footer-container div nav{
  height: 50%;
  display: grid;
  align-content: top;
  align-items: center;
  color: #0d485c;
}

.footer-container div ul{
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
  display: grid;
  align-content: space-around;
 list-style: none;
 -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: #0d485c;
 color:#fafafa
}

.footer-social nav{
height: 50%;
display: grid;


}
.footer-social nav ul{
  height:100%;
  text-align: center;
  display: flex;
justify-content: center;
 justify-content: space-around;
 font-size: 2rem;
 
}



@keyframes mirror {
  0%   {top: 5%;left: 0;width:80%;background-position:right top;}
  25%  {top: 10%; left: 5%;width:80%;background-position:right center;}
  50%  {top: 5%; left: 10%;width:80%;background-position:center;}
  75%  {top: 5%; left: 10%;width:80%;background-position:left center;}
  100% {top: 10%; left: 0%;background-position:left bottom}
}


